body {
    padding: 10px;
}

h2 {
    margin-bottom: 20px;
    display: inline;
}

#create input, #create textarea, select {
    display: block;
    width: 600px;
    margin-bottom: 20px;
}

option[value=""] {
    display: none;
}

.listing_text {
    padding-top: 40px;
}

li {
    list-style-type: none;
}

.description {
    padding-top: 15px;
    max-width: 100%;
}

.image {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 400px;
}

.item {
    margin-bottom: 50px;
    border: solid 1px #e6e6e6;
}

.title_link, .title_link:hover {
    color: black;
}

button[name="watchlist"] {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 3px 8px;
    font-size: 14px;
}

.watchlist {
    display: inline;
}

#price {
    margin-top: 20px;
}