{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Closed Listings</h2>
    {% for item in items %}
        <div class="row item">
            <div class="col-lg-4 col-sm-6 image">
                <a href="{% url 'listing' item.title %}"><img src="{{ item.image_url }}" alt="{{ item.title }}"></a>
            </div>
            <div class="col-lg-6 col-sm-5">
                <ul class="listing_text">
                    <li>
                        <a class="title_link" href="{% url 'listing' item.title %}">
                            <h3>{{ item.title }}</h3>
                        </a>
                    </li>
                    <li>Current Price: ${{ item.current_price }}</li>
                    <li>Category: {{ item.category }}</li>
                    <li class="description">{{ item.description }}</li>
                </ul>
            </div>
        </div>
    {% empty %}
        <h3>No Items On My Bids</h3>
    {% endfor %}

{% endblock %}