{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing: {{ item.title }}</h2>

    {% if watchlist and logged_in %}
        <form class="watchlist" action="{% url 'listing' item.title %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="watchlist" value="remove">
                Remove Watchlist
            </button>
        </form>
    {% elif not watchlist and logged_in %}
        <form class="watchlist" action="{% url 'listing' item.title %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary" name="watchlist" value="add">
                Add Watchlist
            </button>
        </form>
    {% endif %}

    <div>
        <img src="{{ item.image_url }}" alt="{{ item.title }}">
    </div>

    <h3 id="price">${{ item.starting_price }}</h3>

    {% if logged_in and host %}
        <form>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Close Auction</button>
        </form>
    {% else %}
        <form>
            {% csrf_token %}
            {{ bid_form }}
        </form>        
    {% endif %}

{% endblock %}